/.bundle/
/vendor/bundle
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/rdoc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
/.config
/InstalledFiles
.dat*
.repl_history
build/
/lib/bundler/man/
.ruby-version
.ruby-gemset
.rvmrc
